body {
    background-image: url("./img/image2.jpg");
    
    background-size: cover;     
    background-position: center;  
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

.boite-contenu {
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); 
    margin-top: 30px;
    margin-bottom: 40px;
}